section.container.url_shortener {
  background-color: hsl(220, 13%, 91%);
  padding-top: 2.5rem;
  padding-bottom: 20%;
  color: #1f2b4d;
  min-height: 100vh;
}

.shorten_title {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bolder;
}

.container.url_shortener p,
.container.url_shortener h2 {
  text-shadow: 4px 4px 8px #a0a0a0;
}

.container.url_shortener p{
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
}

.container.url_shortener .url_format {
  font-weight: 600;
  margin-bottom: 25px;
  text-shadow: none;
}